@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background: linear-gradient(#2196f3, #e91e63);
}

header {
  display: flex;
  justify-content: space-around;
  /* min-height: 10vh; */
  background-color: rgb(243, 245, 243);
  /* margin-right: 5%; */
  padding-right: 10%;
}

#logo {
  width: 10%;
}

#home,
#sign-up,
#about,
#cart {
  font-size: 2rem;
  color: #524042;
  background-color: inherit;
  border: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 5px;
}

.head:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #ffa500;
}

#items {
  display: flex;
  gap: 5%;
  align-self: center;
}

#sign-up {
  display: none;
}
.wrapper {
  display: flex;
  align-self: center;
  margin-top: 1.5%;
  margin-bottom: 5%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  /* width: 100%; */
  padding: 10%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 30px;
  color: #555;
  text-align: center;
}

.input-group {
  position: relative;
  width: 320px;
  margin: 30px 0;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}

.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  background: transparent;
  border: 1px solid #333;
  outline: none;
  border-radius: 5px;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: 0;
  font-size: 12px;
  background: #fff;
}

.forgot-pass {
  margin: -15px 0 15px;
}

.forgot-pass a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.btn {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #2196f3, #e91e63);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
}

.sign-link {
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
}

.sign-link p {
  color: #333;
}

.sign-link p a {
  color: #e91e63;
  text-decoration: none;
  font-weight: 600;
}

.sign-link p a:hover {
  text-decoration: underline;
}

.error{
    color: red;
    font-size: small;
}

@media (max-width: 600px) {
  body {

    align-content: center;
    margin: 0;
    padding: 0%;
  }

  #logo {
    width: 25%;
    align-self: center;
  }
  header {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }

  .wrapper{
    margin-left: -2em;
    align-self: center;
  }
}
