body{
    font-family: 'Lato', sans-serif;;
    margin: 0%;
    display: flex;
    flex-direction: column;
    background: rgb(243, 245, 243);
    color: #524042;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-around;
    /* min-height: 10vh; */
    background-color: rgb(243, 245, 243);
    /* margin-right: 5%; */
    padding-right: 10%;
}

#logo{
    width: 10%;
}

#home,#sign-up,#about,#cart{
    font-size: 2rem;
    color: #524042;
}

.name{
    padding: 2%;
    font-weight: 300;
}

.tagline{
    padding-left: 2%;
    font-weight: 300;
}
#items{
    display: flex;
    gap:5%;
    align-self: center;
}

#productImage{
    width: 100px;
    height: 120px;
    mix-blend-mode: darken;
    align-self: center;
}

.tile{
    box-shadow: 1px 1px 1rem 1px #ffa500;
    border-radius: 15px;
    padding: 2%;
    background-color: whitesmoke;
    display: flex;
    flex-basis: 30em;
    gap: 1%;
    
}

#products{
    display: none;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.title{
    font-weight: bold;
}
.price{
    font-size: 130%;
}
.desc{
    display: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 5%;
    padding-bottom: 2%;
}

#filter{
    display: flex;
    /* gap: 4%; */
    background: linear-gradient(#2196f3, #e91e63);
    /* width: 100%; */
    padding: 4%;
}


.title{
    font-size: larger;
}

.Category{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: larger;
    color: white;
    padding-left: 5%;
}

button{
    background-color: inherit;
    border: none;
    padding: 0.5em .5em 0.5em 0.5em;
    border-radius: 5px;
}

.proButton{
    /* color: white; */
    background-color: whitesmoke;
    padding: 1em 5em 1em 0.5em;
    border-radius: 5px;
    font-size: 110%;
    color: #524042;
}

button:hover{
    /* opacity: 70%; */
    cursor: pointer;
    font-weight: bold;
    background-color: #ffa500;
    transform: translate(+5px);
}

.tile:hover{
    cursor: pointer;
    .desc{
        display: block;
    }
}


/* when no data is fetched*/
.noProducts{
    display: none;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.card{
    box-shadow: 1px 1px 1rem 1px #ffa500;
    border-radius: 15px;
    padding: 2%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
}

/* css loader*/
.loader{
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: center;
}

.loader img{
    width: 50%;
    height: 50%;
}
#loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top-color: #3498db;
    animation: spin 1s infinite linear;
    margin: 0 auto;
  }
  
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}


@media (max-width:720px){

    body{
        align-items: center;
    }
    #logo {
        width: 25%;
        align-self: center;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    #items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #products{
        display: none;
    }
    #filter{
        display: flex;
        flex-basis: 100%;
    }

}





@media (max-width:400px){

    body{
        align-items: center;
    }

    #logo {
        width: 25%;
        align-self: center;
    }
    header{
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    
    #items{
        display: flex;
        flex-direction: column;
    }

    #products{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        padding-left: 0;
        padding-bottom: 5%;
    }

    .Category{
        align-self: center;
        font-size: small;
        padding-left: 0;
        padding-top: 5%;
    }

    .proButton{
        /* color: white; */
        background-color: white;
        padding: .5em 2em .5em 2em;
        border-radius: 5px;
        font-size: 90%;
    }

    hr{
        margin: 0;
    }

    .tile{
        flex-basis: 10em;
    }

    #products{
        display: none;
    }
}